#place {
    background-image: url('../assets/place_background.png') !important;
    margin-top: -50px;
    & div {
        margin-top: 170px;
    }
    & .bigCloud {
        position: relative;
        left: 170%;        
        bottom:80%;
        filter: blur(13px);
        z-index: 1;
    }
    & .littleCloud {
        position: relative;
        left: 130%;      
        bottom:70%;
        filter: blur(12px);
    }
  }